a {
    text-decoration: none !important;
}
.freelanceContainer {
    background-color: #fff;
    padding-top: 7%;
}
.freelance{
    height: 75vh;
    text-align: right;
    display: block;
}

.freelanceImage {
    
    width: 100%;
    object-fit: cover;
    background-color: white;
    /* opacity: 0.5; */
    object-position: top;
}
.desktopFreelance {
    display: none;
}
.freelancePageName {
    font-size: 45px;
    font-weight: 900;
    margin: 0;
}
.pagesDescription{
    color: black;
    margin-bottom: 0;
    margin-right: 5%;
    text-align: right;
}
.stack{
    font-family: monospace;
    font-size: 13px;
    border: 1px solid black;
    padding: 1px 1%;
    border-radius: 7px;
    margin: 1% 2%;
}

.subdescription{
    font-size: 25px;
    font-weight: 500;
}
.stackContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
@media (min-width: 1024px){
    
    .freelance{
        text-align: center;
        margin-bottom: 5%;
        width: 100%;
        margin: auto;
    }

    .stack {
        margin: 0 0 1% 2%;
        font-size: 15px;
    }
    .freelancePageName {
        font-size: 55px;
        font-weight: 800;
    }
/* 
    .freelanceImage:hover {
        background-color: white;
        opacity: 0.2;
        transition-property:  all;
        transition-duration: 0.3s;
        display: inline;
    }

    .freelance:hover .freelanceImage {
        background-color: white;
        opacity: 0.2;
        transition-property:  all;
        transition-duration: 0.3s;
    }

    .freelance:hover .pagesDescription{
        opacity: 1;
        position: relative;
        bottom: 280px;
        color: black;
    } */
   
}


@media (min-width: 1249px){
    .freelance{
        text-align: center;
        margin-bottom: 5%;
        width: 60%;
        margin: 5% auto;
        height: unset;
    }
}