.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 3% 10%;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    width: 14rem !important;
    height: 50vh;
    /* aspect-ratio: 1/1; */
}

.project {
    margin: 1%;
}

.card-text {
    font-size: 20px;
    text-align: initial;
}

.card-title {
    font-size: 26px;
    text-align: initial;
}

.cardButton {
    margin: 1%;
}