.projectsContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 3% 10%;
    align-items: flex-start;
    justify-content: space-around;
}

.projectImage {
    border-radius: 5% 5% 0 0;
}

.card {
    /* width: 14rem !important; */
    height: 50vh;
}

.project {
    margin: 1%;
}

.card-text {
    font-size: 12px;
    text-align: initial;
}

.card-title {
    font-size: 26px;
    text-align: initial;
}

.cardButton {
    margin: 1%;
}

@media (min-width: 667px) {
    .card {
        width: 14rem !important;
    }
    .card-text {
        font-size: 20px;
    }
}