.educationContainer {
    border: #f1f1f1 solid 6px;
    color: white;
    background: #f9f41300;
    width: 68%;
    margin: auto;
    margin-top: 20%;
    padding: 3%;
    box-shadow: 77px 48px 0px rgb(0 0 0 / 70%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
    align-items: flex-start;
    flex-direction: column;
}

.education {
    width: 29%;
}

.educationIcon {
    width: 67%;
    margin: 3%;
}

@media (min-width: 766px){
    .educationContainer {
        margin-top: unset;
        flex-direction: row;
        margin-top: 5%;
    }
    .educationIcon {
        transition: border-radius 0.3s ease-in-out;
    }
    .educationIcon:hover {
        border-radius: 50%;
    }
}