.educationContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20%;
}

.subtitles{
    color: white;
    
    color: #a8f0d7;
    /* color: #f0e4a8; */
    text-align: left;
    font-weight: 700;
    font-size: 44px;
}

.timeline {
    padding: 5%;
    color: white;
    height: 50vh;
    border-left: 2px solid white;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    justify-content: space-evenly;
}
.timeline h4 {
    font-size: 0.9em;
    text-align: left;
}
.timeline h5 {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 300;
    color: #a8f0d7;
    
}

.education {
    
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: flex;
}
.year {
    font-weight: 900;
    width: 12%;
    line-height: 1;
    bottom: 13px;
    position: relative;
    right: 70px;
}

@media (min-width: 624px) {
    .year {
        right: 110px;
    }
}

@media (min-width: 1024px){
    .educationContainer {
        height: 70vh;
        justify-content: space-around;
        margin-bottom: 10%;
    }
    .timeline { 
        flex-direction: row;
        border-left: unset;
        border-bottom: 2px solid white;
        height: 5vh;
        margin: 0 auto;
        width: 80vw;
        padding: unset;
    }
    .education{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .year {
        font-weight: 900;
        width: 60%;
        line-height: 1;
            
        position: relative;
        top: 40px;
        right: unset;
    }
    .timeline h4 {
        font-size: 0.7rem;
        font-weight: 300;
        text-align: left;
    }
    .timeline h5 {
        font-size: 0.9rem;
        text-align: left;
        font-weight: 400;
    }
    
}