.aboutText {
    
    padding: 18% 0;
    color: white;
    width: 71vw;
    margin: auto;
    text-align: left;
    font-weight: 300;
    font-size: large;
}


@media (min-width:1024px) {
    .aboutText {   
        padding: 0;
        margin: 10% auto 0;
        font-size: larger;
        height: 40vh;
    }
    
}