.aboutText {
    
    height: 77vh;
    color: white;
    width: 71vw;
    margin: auto;
    padding: 35% 0;
    text-align: left;
    font-weight: 300;
    font-size: large;
}


@media (min-width:624px) {
    .aboutText {   
        padding: 0;
        margin: 10% auto 0;
        font-size: larger;
        height: 60vh;
    }
    
}