.homeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 6%;    
    justify-content: space-evenly;
    align-items: flex-start;
}

.presentation {
    margin: 18% auto;
    display: flex;
    color: white;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.presentation h2 {
    display: none;
}
.presentation h5 {
    font-size: 4rem;
    font-weight: 700;
}

.title {
    color: #b8cae6;
    font-size: 3rem;
    letter-spacing: -0.10rem;
}


@media (min-width: 1024px) {
    .presentation{
        margin: 8% auto;
    }
    .presentation h2 {
        display: block;
        font-size: 4rem;
        font-weight: 800;
    }
    
    .title {
        font-size: 3.4rem;
        font-weight: 600;
    }
    .presentation h5 {
        font-size: 3rem;
        letter-spacing: -0.03rem;
        font-weight: 200;
    }
}