.presentation {
    color: #f1f1f1;
    width: 80vw;
    margin: auto;
    text-align: justify;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    margin-top: 6%;    
    justify-content: space-evenly;
    align-items: flex-start;
}

.text {
    margin: 5%;
    width: 95vw;
}

.title {
    color: #A78976;
    font-size: 1em;
}

.title:hover {
    color: #ffc6a2;;
}

@media (min-width: 667px) {
    .homeContainer {
        flex-direction: row;
        margin-top: 6%;    
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .presentation {
        width: 35%;
    }
    .text{
        text-align: left;
        width: 35%;
    }
}