.presentation {
    color: #f1f1f1;
    width: 35%;
    font-size: 26px;
    margin: 5%;
    text-align: justify;
}

.homeContainer {
    display: flex;
    margin-top: 6%;    
    justify-content: space-evenly;
    align-items: flex-start;
}

.text {
    text-align: left;
    margin: 5%;
}

.title {
    /* font-family: 'Sue Ellen Francisco', cursive; */
    color: #A78976;
    font-size: 1em;
    /* padding: 9%; */
}

.title:hover {
color: #ffc6a2;;
}