.navbar {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    height: 16vh;
    position: sticky !important;
    width: 100%;
    top: 0;
    background-color: rgb(44, 42, 42);
    flex-grow: 1;
    z-index: 1;
}
.rightNavbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.navbarItem {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}
a:focus {
    color: #a8f0d7;
} 
a:hover {
    color: #a8f0d7 !important;
}

.brand {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}


@media (min-width: 1024px) {

    .whiteNavbar {
        background-color: #ffffffe8;
    }
    .whiteNavbar .navbarItem,
    .whiteNavbar .brand {
        color: #000;
    }       
    .whiteNavbar a:hover {
        color: #f0a8c1 !important;
    }

    .rightNavbar {
        justify-content: space-evenly;
    }
    .navbar {
        height: 20vh;
    }
    .navbarItem {
        font-size: 1.5rem;
    }
    .brand {
        font-size: 2.3rem;
    }
}

