.navbarItems {
    padding: 10px;
    color: white;
    text-decoration: none;
}

#basic-nav-dropdown {
    color: white;
    padding: 10px;
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

.me-auto .rightNavbar {
    font-size: 12px !important;
}

@media (min-width: 614px) {
    .navbar {
        top: 80px;
        height: 80px;
        font-size: 20px;
    }
}

@media (min-width: 992px) {

    .rightNavbarContainer {
        justify-content: flex-end;
        padding-right: 100px;
        height: fit-content
    }

    .navbarItems {
        margin:auto;
    }

    .navbarItems:hover,
    #basic-nav-dropdown:hover {
        color: black;
        font-weight: 600;
    }
    
    .navbarItems:focus {
        color:black;
        font-weight: 600;
    }

}
