.socialMedia {
    padding: 1em 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.socialMediaIcon {
    margin: 20px;
    color: white;
}

.socialMediaIcon:hover {
    color: #b8cae6;

}

@media (min-width:624px) {
    .socialMedia{
        display: flex;
        position: absolute;
        top: 219px;
        width: -moz-fit-content;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: unset;
    }
    .socialMedia a {
        margin: 5%;
    }
}