* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Comfortaa', cursive; */
  /* font-family: 'Sue Ellen Francisco', cursive; */
  font-family: 'Piazzolla', serif;
  font-size: 16px;
}

#myBody{  
  text-align: center;
  background-color: rgb(44, 42, 42);
  cursor: none;
}

@media (min-width: 667px) {
  * {
    font-size: 26px;
  }
}

@media (min-width: 667px) {
  .app-container {
    position: relative; /* Asegura que el círculo se posicione correctamente */
  }
  
  .cursor {
    width: 30px;
    height: 30px;
    background-color: rgba(157, 157, 157, 0.752); /* Cambia el color del círculo */
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Hace que el círculo no afecte los elementos debajo de él */
    z-index: 9999; /* Asegura que el círculo esté en la parte superior */
  }
  
}
