* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-size: 26px;
}

.App {
  text-align: center;
  background-image: url('../public/background2.jpg');
  height: 96vh;
  background-size: cover;
}

.title {
  color: yellow;
  font-size: 2em;
  padding: 4%;
}

.title:hover {
  color: #ff8300;
}